
@media screen and (max-width:400px) {
    .parent{
        height: 800px;
        width: 100%;
        background-image:url(./images/office\ bg.jpg) ;
        background-size:100% 800px ;
    }
    .navbar2{
       
        height: 70px;
        width: 100%;
        background-color: brown;
        display: flex;
        justify-content: space-around;
    }
    .seconditem span{
        font-size: 16px;
        color: white;
        margin-left: 24px;
           } 
           .seconditem span:hover{
            font-size: 16px;
            color: yellow;
            margin-left: 24px;
               } 
  .firstitem span{
    font-size: 25px;
  }
  .mainbody{
    height: 600px;
    display: flex;
    align-items: center;
  } 
  .mainbody p{
    font-size: 30px;
    text-align: center;
    color: black;
  }
  .para2{
    font-size: 20px;
  }
  .boxes{
    color: brown;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box1{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    height: 120px;
    width: 160px;
    border: 2px solid black;
    border-radius: 5px;

  }
  .box2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

    margin-right: 20px;
    height: 120px;
    width: 160px;
    border: 2px solid black;

  }
  .box3{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

    margin-right: 20px;
    height: 120px;
    width: 160px;
    border: 2px solid black;

  }
  .box4{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

    margin-right: 20px;
    height: 120px;
    width: 160px;
    border: 2px solid black;
  }
  .box5{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

    margin-right: 20px;
    height: 120px;
    width: 160px;
    border: 2px solid black;

  }
  .secondbody{
    display: flex;
    justify-content: space-around;
    width: 100%;
   }
   .para{
    margin-top: 30px;
    font-size: 25px;
   }
   .image img{
    margin-top: 30px;
height: 320px;
width: 250px;
border-radius: 20px;
   }
}
@media screen and (min-width:400px) and (max-width:1040px) {
    .parent{
        height: 600px;
        width: 100%;
        background-image:url(./images/office\ bg.jpg) ;
        background-size:100% 600px ;
    }
    .navbar2{
        
        height: 70px;
        background-color: brown;
        display: flex;
        justify-content: space-around;
        
    }
    .seconditem span{
        font-size: 20px;
        color: white;
        margin-left: 24px;
           } 
           .seconditem span:hover{
            font-size: 20px;
            color: yellow;
            margin-left: 24px;
               } 
               .firstitem span{
                font-size: 25px;
              }
              .mainbody{
                height: 600px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              } 
              .mainbody p{
                font-size: 30px;
                text-align: center;
                color: black;
              }
              .para2{
                font-size: 25px;
              }
              .boxes{
    width: 100%;

                color: brown;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
              }
              .box1{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

                margin-right: 20px;
                height: 120px;
                width: 160px;
                border: 2px solid black;
        
              }
              .box2{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

                margin-right: 20px;
                height: 120px;
                width: 160px;
                border: 2px solid black;
        
              }
              .box3{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

                margin-right: 20px;
                height: 120px;
                width: 160px;
                border: 2px solid black;
        
              }
              .box4{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

                margin-right: 20px;
                height: 120px;
                width: 160px;
                border: 2px solid black;
              }
              .box5{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

                margin-right: 20px;
                height: 120px;
                width: 160px;
                border: 2px solid black;
        
              }
              .secondbody{
                display: flex;
                justify-content: space-around;
    width: 100%;

               }
               .secondbody{
                display: flex;
                justify-content: space-around;
               }
               .para{
                margin-top: 30px;
                font-size: 25px;
               }
               .image img{
                margin-top: 30px;
          height: 380px;
          width: 800px;
               }
              
               .para{
                margin-top: 30px;
                font-size: 25px;
               }
               .image img{
                margin-top: 30px;
          height: 480px;
          width: 500px;
          border-radius: 20px;
               }
}
@media screen and (min-width:1040px) {
    .parent{
        
        height: 600px;
        width: 100%;
        background-image:url(./images/office\ bg.jpg) ;
        background-size:100% 600px ;
    }
    .navbar2{
        height: 70px;
        width: 100%;
        background-color: brown;
        display: flex;
   justify-content: space-around;
      
    }
   .seconditem span{
font-size: 20px;
color: white;
margin-left: 24px;
   } 
   .seconditem span:hover{
    font-size: 20px;
    color: yellow;
    margin-left: 24px;
       }
       .firstitem span{
        font-size: 25px;
      } 
      .mainbody{
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      } 
      .mainbody p{
        font-size: 40px;
        text-align: center;
        color: black;
      }
      .para2{
        font-size: 30px;
      }
      .boxes{
    width: 100%;

        color: brown;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .box1{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

        margin-right: 20px;
        height: 120px;
        width: 160px;
        border: 2px solid black;

      }
      .box2{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

        margin-right: 20px;
        height: 120px;
        width: 160px;
        border: 2px solid black;

      }
      .box3{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    margin-top: 20px;
    border-radius: 5px;

        margin-right: 20px;
        height: 120px;
        width: 160px;
        border: 2px solid black;

      }
      .box4{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;

        height: 120px;
        width: 160px;
        border: 2px solid black;
      }
      .box5{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;

        height: 120px;
        width: 160px;
        border: 2px solid black;

      }
     .secondbody{
      display: flex;
      justify-content: space-around;
    width: 100%;

     }
     .para{
      margin-top: 30px;
      font-size: 25px;
     }
     .image img{
      margin-top: 30px;
height: 500px;
width: 850px;
border-radius: 20px;
     }
}